<div class="card-deck-wrapper">
    <div class="card-deck">
        <div class="card" *ngFor="let event of events">
            <div class="card-header text-xs-center">
                {{event.title}}
            </div>
            <img class="card-img-top center-block event-item" src="{{event.imageS}}" alt="{{event.title}}">
            <div class="card-footer text-xs-center">
                <a class="btn btn-secondary" [routerLink]="['/event', event.id]">More Info</a>
            </div>
            <div class="card-block">
                <p class="card-text">{{event.description}}</p>
            </div>
        </div>
    </div>
</div>