<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card">
        <img class="card-img-top center-block product-item" src="{{directorcategory.imageS}}" alt="{{directorcategory.title}}">
        <div class="card-block">
            <h4 class="card-title">{{directorcategory.title}}</h4>
            <p class="card-text">{{directorcategory.desc}}</p>
            <button class="btn btn-primary" (click)="filterFilms(directorcategory)">Browse</button>
        </div>
    </div>
</div>
<!-- /.col -->